.glass-container {
	background: rgba(136, 144, 134, 0.45);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.3px);
	-webkit-backdrop-filter: blur(4.3px);
	border: 1px solid rgba(136, 144, 134, 0.12);
	.main-container {
		max-width: calc(100% - 100px);
		margin: 0 auto;
		.video {
			max-width: calc(100% - 100px);
			width: 100%;
			top: 42px;
			left: 20px;
			video {
				height: calc(100vh - 100px);
				border: 10px solid rgba(31, 31, 31, 0.35);
			}
		}
		.sidenav-container {
			height: calc(100vh - 100px);
			.sidenav-glass {
				height: calc(100vh - 100px);
				background: rgba(136, 144, 134, 0.45);
				box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
				backdrop-filter: blur(4.3px);
				-webkit-backdrop-filter: blur(4.3px);
				border: 1px solid rgba(136, 144, 134, 0.12);
			}
		}
	}
}
