.main-container {
	.sidenav-container {
		border-right: 1px solid #f2e6e5;
	}
}

.top-header-title {
	border-bottom: 3px solid #f59a10;
}

.card {
	border-radius: 8px;
	-webkit-box-shadow: 4px -2px 11px 3px rgba(173, 157, 173, 1);
	-moz-box-shadow: 4px -2px 11px 3px rgba(173, 157, 173, 1);
	box-shadow: 4px -2px 11px 3px rgba(173, 157, 173, 1);
}
